/* Reset CSS Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  /* Puedes cambiar esto por una fuente más futurista */
  line-height: 1.6;
  background-color: #0d0c1d;
  /* Un color de fondo oscuro para el espacio */
  color: #f0f0f0;
  overflow-x: hidden;
  /* Evitar scroll horizontal */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}